@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw; /****na width você nunca usa vh e sim vw talvez um erro como este tenha sido o problema da responsividade de algum site seu*/
    background-color: black;
}
body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;/*para a imagem cobrir todo o espaço de uma tag*/
    background-attachment: fixed;/*para não dar barra de rolagem*/

}

main{
    position:relative; /*posição relativa para organizar a centralização*/
    height: 100vh; /*Por que quando eu coloquei o meu height em 100vh sumiu o fundo preto do body? porque lá em cima a gente zerou os margins e paddings da página*/
   
}

#telefone{
    position: absolute;/*assim que eu configuro o position absolute eu já posso organizar ele no top, left, right e bottom ↓↓*/
    top: 50%; /*Agora se eu configurasse somente top e left ele só iria centralizar a ponta superior esquerda do meu quadrado da section no centro e não realmente o centro do quadrado. E como resolver isso?↓↓↓ usando o transform*/
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px; /*Como eu fiz para chegar nesse resultado de tamanho de imagem? 1º eu abri a imagem com gimp (clicando com o botão direito e depois em abrir como) e depois apertei alt enter a primeira informação do quadrinho é a largura e tamanho da imagem (nessa ordem mesmo)*/
    width: 311px;
    background-color: blue;
    background: url(../imagens/frame-iphone.png) no-repeat; /*Este no repeat como já vimos ele não se coloca em um comando específico tipo repeat:no-repeat;, mas sim depois de uma imagem. E esta foi a primeira vez que colocamaos uma imagem através do css */
    
}
#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}
section#redes-sociais{
    text-align: right; /*utilizei este comando simples para mandar minhas imagens para a direita do meu site*/
}
section#redes-sociais img{
    width: 50px; /*Se a imagem já for quadrada não precisa você colocar o height*/
    margin: 10px; /*para afastar uma imagem das outras*/
    border-radius: 50%; /*toda vez que você quiser arredondar uma imagem quadrada use este comando e de quadrada a imagem passará a ser uma bolinha*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    /*A maneira mais simples e preguiçosa de colocar uma imagem ao lado da outra é utilizando o <br> direto de um html*/
    box-sizing: border-box; /*depois de ter configurado o meu hover border eu tive que fazer a configuração da box sizing para as minhas imagens não ficarem se mechendo quando a borda fosse ativada ou aparecesse*/
    margin-left: 10px;
    
}
section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.599);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);
    transition: transform .3s, border .5s;
}